.cart {
  display: flex;
  align-items: center;
  padding: 8px 16px;

  span {
    margin-right: 4px;
  }

  &__icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    fill: var(--white-color);
  }
}
