.filter {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;

  &__close {
    right: 20px;
    top: 40px;
    width: 24px;
    height: 24px;

    &::before,
    &::after {
      height: 3px;
      background-color: var(--black-color);
    }
  }

  &__form-wrapper {
    padding: 32px 20px 0;
  }

  &__form-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
  }

  &__section-title {
    margin-bottom: 12px;
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-gray-color);
  }

  &__section-items {
    display: flex;
    flex-wrap: wrap;
  }

  &__section-item {
    margin-right: 8px;
    margin-bottom: 8px;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.checkbox {
  &__input-fake {
    display: block;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    padding: 11px 20px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
  }
}

.checkbox__input:checked + .checkbox__input-fake {
  color: var(--white-color);
  background-color: var(--primary-color);
}
