.footer {
  padding-top: 31px;
  padding-bottom: 31px;
  border-top: 1px solid $gallery;

  @media (max-width: $mw-991) {
    padding-top: 23px;
    padding-bottom: 0;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mw-991) {
      flex-wrap: wrap;
      padding-bottom: 41px;
      border-bottom: 1px solid $gallery;
    }

    @media (max-width: $mw-767) {
      justify-content: flex-start;
    }

    @media (max-width: $mw-575) {
      flex-direction: column;
    }

    @media (max-width: $mw-350) {
      padding-bottom: 41px;
    }
  }

  &__column-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 251px;
    width: 100%;

    @media (max-width: $mw-1199) {
      max-width: 231px;
    }

    @media (max-width: $mw-991) {
      max-width: 100%;
      margin-bottom: 20px;
    }    
  }

  &__logo {
    display: block;
    width: 176px;

    @media (max-width: $mw-575) {
      width: 141px;
    }
  }

  &__copyright {
    position: absolute;
    bottom: 11px;
    left: 20px;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $mw-1199) {
      bottom: -15px;
    }

    @media (max-width: $mw-991) {
      bottom: 11px;
    }

    @media (max-width: $mw-575) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__menu {
    margin-right: 34px;

    @media (max-width: $mw-991) { 
      margin-right: 0;
    }
  }

  &__column-right {
    max-width: 300px;
    width: 100%;
    flex-grow: 1;

    @media (max-width: $mw-767) {
      max-width: 100%;
      padding-bottom: 25px;
      border-bottom: 1px solid $gallery;
    }
  }
}
  
