.form-adress {
	margin-bottom: 23px;

	@media (max-width: $mw-390) {
		margin-bottom: 32px;
	}

	&__wrapper{
		display: flex;
		align-items: center;
		padding: 15px 19px 15px 19px;
		background: $white;
		border: 1px solid $gallery;
		border-radius: 8px;

		@media (max-width: $mw-390) {
			flex-wrap: wrap;
			padding-top: 23px;
			padding-bottom: 20px;
		}
	}

	&__label {
		position: relative;
		display: flex;
		align-items: center;
		flex-grow: 1;
	}

	&__text {
		margin-right: 32px;
		font-size: 18px;
		line-height: 24px;
		color: $gray;

		@media (max-width: $mw-390) {
			width: 100%;
			margin-bottom: 14px;
			margin-right: 0;
			text-align: center;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__input {
		position: relative;
		flex-grow: 1;
		margin-right: 20px;

		@media (max-width: $mw-390) {
			margin-right: 0;
		}

		&::before {
			position: absolute;
			content: "";
			background-image: url("../img/icons/location.svg");
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			top: 13px;
			left: 13px;

			@media (max-width: $mw-390) {
				left: 12px;
				top: 12px;
			}
		}

		input {
			width: 100%;
			padding: 15px 15px 15px 40px;
			border: 1px solid $gallery;
			border-radius: 6px;

			@media (max-width: $mw-390) {
				padding: 14px 15px 14px 38px;
			}

			&::placeholder {
				font-family: "SF-Pro-Text", sans-serif;
				font-size: 16px;
				line-height: 22px;
				color: #a5a5a5;
			}
		}
	}

	&__btn{
		@media (max-width: $mw-390) {
			display: none;
		}
	}

	&__btn-mobile{
		position: absolute;
		right: 0;
		top: 0;
		display: none;
		align-items: center;
		padding: 14px 14px;

		svg{
			width: 16px;
			height: 16px;
			fill: $white;
		}

		@media (max-width: $mw-390) {
			display: flex;		
		}
	}
}
