.check-adress-form {
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-color);
  border-radius: 8px;
  padding: 16px 32px;
  background-color: var(--white-color);

  &__text {
    margin-right: 32px;
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  &__input-wrapper {
    position: relative;
    flex-grow: 1;
    margin-right: 20px;
    height: 48px;

    &::before {
      content: "";
      position: absolute;
      left: 12px;
      top: 50%;
      width: 20px;
      height: 20px;
      background-image: url("../img/location.svg");
      transform: translateY(-50%);
    }
  }

  &__input {
    padding: 0 40px;
  }

  &__btn {
    padding: 0 32px;
    height: 48px;
  }
}
