// Обнуление стилей
html,
body {
	height: 100%;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

// Глобальные настройки

body {
	font-family: "SF-Pro-Text", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $gray;
}

img {
	width: 100%;
	object-fit: cover;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0;
}

.site-wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
	background-color: #f9f9f9;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn-reset {
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.btn {
	padding: 13px 32px;
	background: $pumpkin;
	border-radius: 4px;
	font-size: 16px;
	line-height: 22px;
	font-family: "SF-Pro-Text", sans-serif;
	font-weight: 400;
	color: #fff;
	transition: all 0.2s ease;

	&:hover{
		background-color: $cinnabar;
	}
}

.section-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-title {
	margin: 0;
	font-family: "Inter", serif;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
}

.new,
.hit{
	&::before{
		position: absolute;
		width: 65px;
		height: 32px;
		background-color: $cinnabar;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 32px;
		text-align: center;
		color: $white;
		border-radius: 0 6px 6px 0;
		top: 20px;
		left: -1px;
	}
}
.new {
	&::before {
		content: "new";
	}
}
.hit {
	&::before {
		content: "хит";
	}
}
