// Обнуление стилей
html,
body{
	height: 100%;
}

body{
	margin: 0;
}

*{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}


// Глобальные настройки

body{
	font-family: "SF-Pro-Text", sans-serif;
	font-weight: 400;
	font-size: 16px;	
}

img{
	width: 100%;
}

p{
	margin: 0;
}

.site-wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main{
	flex-grow: 1;
	background-color: #f9f9f9;
}

.container{
	max-width: 1320px;
	margin: 0 auto;	
}

.btn-reset{
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.btn{
	padding: 13px 32px;	
	background: #FF7010;
	border-radius: 4px;
	font-size: 16px;
	line-height: 22px;
	font-family: "SF-Pro-Text", sans-serif;
	font-weight: 400;
	color: #fff;
}

