// Обнуление стилей
html,
body {
	height: 100%;
}

body {
	margin: 0;
	overflow-x: hidden;

	&.hidden-on {
		position: relative;
		height: 100vh;
		overflow: hidden;
	}

}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

// Глобальные настройки

body {
	font-family: "SF-Pro-Text", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $gray;
}

img {
	width: 100%;
	object-fit: cover;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0;
}

.site-wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
	background-color: #f9f9f9;
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;

	@media (max-width: $mw-1199) {
		padding: 0 20px;
	}

	@media (max-width: $mw-350) {
		padding: 0 5px;
	}
}

.btn-reset {
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.btn {
	padding: 13px 32px;
	background: $pumpkin;
	border-radius: 4px;
	font-size: 16px;
	line-height: 22px;
	font-family: "SF-Pro-Text", sans-serif;
	font-weight: 400;
	color: #fff;
	transition: all 0.2s ease;

	&:hover {
		background-color: $cinnabar;
	}
}

.section-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-title {
	margin: 0;
	font-family: "Inter", serif;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;

	@media (max-width: $mw-767) {
		font-size: 28px;
		line-height: 32px;
	}
}

.menu-title {
	margin-bottom: 23px;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;

	@media (max-width: $mw-575) {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 19px;
	}
}

// Плашки на карточку New и Hit
.new,
.hit {
	&::before {
		position: absolute;
		width: 65px;
		height: 32px;
		background-color: $cinnabar;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 32px;
		text-align: center;
		color: $white;
		border-radius: 0 6px 6px 0;
		top: 20px;
		left: -1px;

		@media (max-width: $mw-575) {
			width: 44px;
			height: 22px;
			font-size: 12px;
			line-height: 22px;
			top: 7px;
		}
	}
}

.new {
	&::before {
		content: "new";
	}
}

.hit {
	&::before {
		content: "хит";
	}
}

//Кнопка фильтр

.filter-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 9px 16px;
	background: $white;
	border: 1px solid $gallery;
	border-radius: 6px;
	font-family: "SF-Pro-Text", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: $gray;
	transition: all .2s ease;

	&:hover{
		color: $pumpkin;
	}

	svg{
		width: 16px;
		height: 16px;
		fill: $pumpkin;
		margin-right: 8px;
	}
}

.content-item {
	background: $white;
	border: 1px solid $gallery;
	border-radius: 12px;

	&:not(:last-child) {
		margin-bottom: 20px;
	}
}
