.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__row {
    border-bottom: 1px solid $gallery;

    &--top {
      padding: 11px 0;
    }

    &--bottom {
      padding: 12px 0;
    }
  }

  &__row-column {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    @media (max-width: $mw-991) {
      width: 100%;
      justify-content: space-between;
    }

    &--topright {
      @media (max-width: $mw-991) {
        display: none;
      }
    }
  }

  &__city-list {
    position: relative;
    margin-right: 40px;
    padding-left: 28px;
    padding-right: 20px;

    @media (max-width: $mw-767) {
      padding-right: 0;
      padding-left: 24px;
      margin-right: 0;
      font-size: 12px;
      line-height: 16px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      background-image: url("../img/icons/location.svg");
      background-repeat: no-repeat;
      width: 18px;
      height: 20px;
      top: -1px;
      left: 0;
    }

    &::after {
      background-image: url("../img/icons/arrow-down.svg");
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      top: 6px;
      right: 0;

      @media (max-width: $mw-767) {
        display: none;
      }
    }
  }

  &__check-adress {
    margin-right: 41px;

    @media (max-width: $mw-767) {
      font-size: 12px;
      line-height: 14px;
    }

    @media (max-width: $mw-767) {
      display: none;
    }
  }

  &__delivery-time {
    & span {
      font-weight: 600;
    }

    @media (max-width: $mw-767) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__time-work {
    margin-right: 41px;

    @media (max-width: $mw-1199) {
      margin-right: 21px;
    }
  }

  &__btn-login {
    position: relative;
    padding-left: 29px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 18px;

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../img/icons/user.svg");
      top: -1px;
      left: 0;
    }
  }

  &__logo {
    display: inline-block;
    width: 143px;

    & img {
      transform: translateY(2px);
    }
  }
}

.btn-cart {
  display: flex;
  align-items: center;
  padding: 9px 16px 7px 16px;

  @media (max-width: $mw-991) {
    display: none;
  }

  &__img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__value {
    margin-right: 5px;
  }
}
