.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: var(--white-color);

  &__row {
    border-bottom: 1px solid var(--gray-color);

    &--top {
      padding: 10px 0;
    }

    &--bottom {
      padding: 16px 0;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__row-columm {
    display: flex;
    align-items: center;
  }

  &__location {
    margin-right: 40px;
  }

  &__check-adress {
    margin-right: 40px;
  }

  &__time-work {
    margin-right: 40px;
  }
}

.check-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--primary-color);
  }
}

.time-delivery {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  span {
    font-weight: 600;
  }
}

.time-work {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
