.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__row {
    border-bottom: 1px solid $gallery;

    &--top {
      padding: 11px 0;
    }

    &--bottom {
      position: relative;
      padding: 12px 0;
    }
  }

  &__row-column {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    @media (max-width: $mw-991) {
      width: 100%;
      justify-content: space-between;
    }

    &--topright {
      @media (max-width: $mw-991) {
        display: none;
      }
    }
  }

  &__city{
    position: relative;
  }

  &__current-city {
    position: relative;
    margin-right: 40px;
    padding-left: 28px;
    padding-right: 20px;
    cursor: pointer;


    @media (max-width: $mw-767) {
      padding-right: 0;
      padding-left: 24px;
      margin-right: 0;
      font-size: 12px;
      line-height: 16px;
    }

    &::before,
    &::after {
      position: absolute;
      content: "";
    }

    &::before {
      background-image: url("../img/icons/location.svg");
      background-repeat: no-repeat;
      width: 18px;
      height: 20px;
      top: -1px;
      left: 0;
    }

    &::after {
      background-image: url("../img/icons/arrow-down.svg");
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      top: 6px;
      right: 0;
      transition: all .2s ease;

      @media (max-width: $mw-767) {
        display: none;
      }
    }

    &.opened{
      &::after{
        top: 3px;
        transform: rotate(180deg);
      }
    }
  }

  &__city-list{
    padding: 0 20px;
    height: 0;
    z-index: 12;
    position: absolute;
    background-color: $white;
    top: calc(100% + 10px);
    left: 13%;
    overflow: hidden;
    box-shadow: 4px 4px 23px 0px rgba(34, 60, 80, 0.2);
    transition: all .2s ease;

    &.opened{
      padding: 15px 20px;
      height: auto;
      overflow: visible;
    }
  }

  &__city-item{
    cursor: pointer;

    &:not(:last-child){
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $gallery;
    }
  }

  &__check-adress {
    margin-right: 41px;

    @media (max-width: $mw-767) {
      font-size: 12px;
      line-height: 14px;
    }

    @media (max-width: $mw-767) {
      display: none;
    }
  }

  &__delivery-time {
    & span {
      font-weight: 600;
    }

    @media (max-width: $mw-767) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__time-work {
    margin-right: 41px;

    @media (max-width: $mw-1199) {
      margin-right: 21px;
    }
  }

  &__btn-login {
    position: relative;
    padding-left: 29px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 18px;

    &::before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../img/icons/user.svg");
      top: -1px;
      left: 0;
    }
  }

  &__logo {
    display: inline-block;
    width: 143px;

    & img {
      transform: translateY(2px);
    }
  }
}

.btn-cart {
  display: flex;
  align-items: center;
  padding: 9px 16px 7px 16px;

  @media (max-width: $mw-991) {
    display: none;
  }

  &__img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__value {
    margin-right: 5px;
  }
}
