.header__btn-login--mobile {
  padding: 22px 0 20px 60px;
  font-size: 16px;
  line-height: 20px;

  &::before {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
  }
}

.mobile-nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  top: calc(100% + 1px);
  height: 0;
  transition: all 0.3s ease;

  &.opened {
    display: block;
    height: calc(100vh - 100px);
  }

  &__wrapper {
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;
  }
}

.burger {
  position: relative;
  width: 32px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $mw-991) {
    display: flex;
  }

  &__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 1px;
    transition: all 0.3s ease;

    &--one {
      top: 0;
    }
    &--two {
      top: 50%;
      transform: translateY(-50%);
    }
    &--three {
      bottom: 0;
      width: 63%;
    }
  }

  &.opened {
    .burger__line {
      top: 50%;
      transform: translateY(-50%);
      &--one {
        transform: rotate(45deg);
      }
      &--two {
        transform: rotate(-45deg);
      }
      &--three {
        display: none;
      }
    }
  }
}

.menu-mobile {
  width: 100%;
  padding: 20px;
  border-top: 1px solid $gallery;
  border-bottom: 1px solid $gallery;

  &__list-item {
    font-family: "Inter", sans-serif;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.contact-list--mobile {
  font-family: "Inter", sans-serif;
  padding: 20px 20px 73px 20px;
  border-bottom: 1px solid $gallery;
}

.header__time-work--mobile {
  padding: 16px 5px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: $silver;
  border-bottom: 1px solid $gallery;
}
