.product {
  position: relative;
  border-radius: 24px;
  width: 0;
  max-width: 1070px;
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;

  &__close {
    right: -57px;
    top: 0;
    width: 32px;
    height: 32px;

    &::before,
    &::after {
      height: 3px;
      background-color: var(--white-color);
    }
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__form-img {
    margin-right: 60px;
    width: 100%;
    max-width: 450px;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__total-btn {
    padding: 13px 40px;
  }

  &.show {
    padding: 60px 20px;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
}

.product-result {
  &__price {
    margin-right: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: var(--primary-color);
  }

  &__weight {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--text-gray-color);
  }
}

.product-options {
  &__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  &__remove {
    display: flex;
    margin-bottom: 24px;
  }

  &__remove-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__add {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  &__add-title {
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  &__add-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__dough {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__dough-item {
    width: 50%;
    text-align: center;

    .checkbox__input-fake {
      padding: 13px;
    }
  }

  &__size {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__size-item {
    width: 33.333%;
    text-align: center;
  }
}
