.order {
	&__container {
		max-width: 880px;
		padding-top: 40px;
	}

	&__title {
		margin: 0;
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 24px;
	}
}

.order-item {
	background: $white;
	border: 1px solid $gallery;
	border-radius: 12px;
	padding: 16px;
	padding-right: 24px;
	display: flex;
	align-items: center;
}

.positions {
	&__item {
		margin-bottom: 16px;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__item-img {
		width: 120px;
		height: 120px;
		margin-right: 16px;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__item-descr {
		flex-grow: 1;
	}

	&__item-title {
		margin: 0;
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 8px;
	}

	&__item-count {
		margin-right: 40px;
	}

	&__item-price {
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $pumpkin;
	}
}

.positions-count {
	background-color: #ffeee2;
	border-radius: 6px;
	max-width: 92px;
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	height: 36px;

	&__btn {
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: $pumpkin;
	}

	&__input {
		border: none;
		width: 40px;
		text-align: center;
		background-color: transparent;

		&::placeholder {
			font-family: "Inter", sans-serif;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			color: $pumpkin;
		}
	}
}

.order-total {
	align-items: center;
	margin-bottom: 30px;

	&__price {
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $pumpkin;
		flex-grow: 1;
		text-align: right;
	}
}

.promocode {
	max-width: 320px;
	display: flex;
	height: 100%;
	width: 100%;

	&__input {
		border: 1px solid $gallery;
		border-radius: 6px;
		min-height: 100%;
		flex-grow: 1;
		padding-left: 16px;
		padding-right: 58px;

		&::placeholder {
			font-family: "SF-Pro-Text", sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: $silver;
		}
	}

	&__btn {
		width: 48px;
		height: 48px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateX(-5px);
		svg {
			width: 18px;
			height: 18px;
			fill: $white;
		}
	}
}

.order-add {
	margin-bottom: 30px;

	&__item {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	&__item-title {
		margin: 0;
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 24px;
	}

	&__item-wrapper {
		display: flex;
		justify-content: space-between;
	}
}

.add-slide {
	border: 1px solid $gallery;
	background-color: $white;
	border-radius: 12px;
	padding: 16px 16px 16px 16px;
	overflow: gidden;
	text-align: center;
	max-width: 190px;

	&__img {
		margin-bottom: 16px;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 8px;
	}

	&__descr {
		font-family: "Inter", sans-serif;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 12px;
	}

	&__btn {
		width: 100%;
		font-weight: 600;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.client-info {
	padding-bottom: 20px;
	border-bottom: 1px solid $gallery;

	&__title {
		margin: 0;
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 16px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
}

.order-lable {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: $silver;
	max-width: 270px;
	width: 100%;

	&__name {
		display: block;
		margin-bottom: 8px;
	}

	&__input {
		width: 100%;
		height: 48px;
		background: $white;
		border: 1px solid $gallery;
		border-radius: 6px;
		padding: 0 16px;

		&::placeholder {
			font-family: "SF-Pro-Text", sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: $silver;
		}
	}
}

.delivery {
	padding-bottom: 20px;
	border-bottom: 1px solid $gallery;

	&__title {
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		margin: 0;
	}

	&__nav-item {
		padding: 13px;
		height: 50px;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__street {
		max-width: 100%;
		margin-bottom: 16px;
	}

	&__lable {
		max-width: 154px;
	}
}
