.order {
	&__container {
		max-width: 880px;
		padding-top: 40px;
	}

	&__title {
		margin: 0;
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 24px;
	}

	&__item {
		background: $white;
		border: 1px solid $gallery;
		border-radius: 12px;
		padding: 16px;
		padding-right: 24px;
		display: flex;
		align-items: center;
	}
}

.positions {
	&__item {
		margin-bottom: 16px;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__item-img {
		width: 120px;
		height: 120px;
		margin-right: 16px;

		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__item-descr {
		flex-grow: 1;
	}

	&__item-title {
		margin: 0;
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 8px;
	}

	&__item-count {
		margin-right: 40px;
	}

	&__item-price {
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $pumpkin;
	}
}

.positions-count {
	background-color: #ffeee2;
	border-radius: 6px;
	max-width: 92px;
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	height: 36px;

	&__btn {
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		color: $pumpkin;
	}

	&__input {
		border: none;
		width: 40px;
		text-align: center;
		background-color: transparent;

		&::placeholder {
			font-family: "Inter", sans-serif;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			color: $pumpkin;
		}
	}
}

.total {
	align-items: center;

	&__price {
		font-family: "Inter", sans-serif;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
		color: $pumpkin;
		flex-grow: 1;
		text-align: right;
	}
}

.promocode {
	max-width: 320px;
	display: flex;
	align-items: center;
	&__input {
	}
	&__btn{
		width: 48px;
		height: 48px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		svg{
			width: 18px;
			height: 18px;
			fill: $white;
		}
	}
}
