.pagination {
	display: flex;
	justify-content: center;
	margin-top: 24px;

	&__item {
		width: 46px;
		height: 46px;
		border-radius: 6px;
		background-color: $white;
		border: 1px solid $gallery;
		border-radius: 6px;
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 16px;
		}

		&:first-child,
		&:last-child {
			background-color: $pumpkin;
			border: 1px solid $pumpkin;

			svg{
				width: 18px;
				height: 18px;
				fill: $white;
			}
		}

		&:first-child{
			transform: rotate(90deg);
		}

		&:last-child{
			transform: rotate(-90deg);
		}
	}
}
