.pizza {
  margin-bottom: 50px;
  padding-top: 22px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }

  &__cart-product {
    grid-column: 3 span;
  }
}
