.promotion {
  margin-bottom: 38px; 

  @media (max-width: $mw-767) {
    margin-bottom: 33px;
  }
  
  &__list {    
    display: flex;
    justify-content: space-between;

    @media (max-width: $mw-1319) {
      margin-bottom: 33px;
      overflow-x: scroll;
    }
  }
}

.promotion-item {
  max-width: 300px;
  width: 100%;
  min-height: 343px; 
  border-radius: 12px;
  overflow: hidden;
  background-color: $pumpkin;
  transition: transform 0.2s ease;
  
  @media (max-width: $mw-1199) {
    flex-shrink: 0;
    max-width: 280px;
    min-height: 320px; 
  }

  &:not(:last-child){
    margin-right: 20px;
  }

  &:hover{
    transform: scale(1.05);
  }

  &--red{
    background-color: $cinnabar;
  }

  &__link {
    display: flex;
    align-items: end;
    height: 100%;
    background-repeat: no-repeat;   
    
    &--center{
      background-position: left 32%;
    }
  }

  &__text {
    padding: 0 40px 20px 20px;
    font-family: "Inter", sans-serif;
    color: $white;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
}
