.production-items {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	@media (max-width: $mw-390) {
		gap: 12px;
	}
}

.production-item {
	position: relative;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $white;
	border: 1px solid $gallery;
	border-radius: 12px;

	@media (max-width: $mw-390) {
		max-width: 100%;
		width: 100%;
		flex-direction: row;
		padding: 10px 10px 8px 11px;
	}

	&__img {
		margin-bottom: 14px;

		@media (max-width: $mw-390) {
			max-width: 100px;
			margin-bottom: 0;
			margin-right: 12px;
		}
	}

	&__wrapper {
		width: 100%;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		padding: 0 20px 20px 19px;

		@media (max-width: $mw-390) {
			padding: 0;
		}
	}

	&__title {
		flex-grow: 1;
		margin: 0;
		margin-bottom: 13px;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;

		@media (max-width: $mw-390) {			
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 8px;
		}
	}

	&__descr {
		max-height: 44px;
		overflow: hidden;
		margin-bottom: 13px;
		line-height: 22px;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* количество строк */
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;

		@media (max-width: $mw-390) {
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 9px;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__price {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		color: $pumpkin;

		@media (max-width: $mw-390) {
			background: #ffeee2;
			border-radius: 6px;
			font-size: 14px;
			line-height: 18px;
			padding: 7px 16px;
		}
	}

	&__btn {
		@media (max-width: $mw-390) {
			display: none;
		}
	}
}
