.production-items {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.production-item {
	position: relative;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $white;
	border: 1px solid $gallery;
	border-radius: 12px;

	&__img {
		margin-bottom: 14px;
	}

	&__wrapper {
		width: 100%;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		padding: 0 20px 20px 19px;
	}

	&__title {
		flex-grow: 1;
		margin: 0;
		margin-bottom: 13px;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
	}

	&__descr {
		max-height: 44px;
		overflow: hidden;
		margin-bottom: 13px;
		line-height: 22px;
		display: -webkit-box;
		-webkit-line-clamp: 1; /* количество строк */
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__price {
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
		color: $pumpkin;
	}
}
