.dessert{  
  margin-bottom: 50px;

  @media (max-width: $mw-390) {
    margin-bottom: 32px;
  }

  &__top{
    margin-bottom: 28px;

    @media (max-width: $mw-390) {
      margin-bottom: 20px;
    }
  }
}

.dessert-item__descr {
  -webkit-line-clamp: 2; /* количество строк */
}