.faq {
  padding-top: 62px;
  padding-bottom: 60px;

  @media (max-width: $mw-767) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__wrapper {
    max-width: 850px;
    margin: 0 auto;
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;

    @media (max-width: $mw-575) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 11px;
    }
  }

  &__text-wrapper {
    position: relative;
    margin-bottom: 15px;
    max-height: 308px;
    overflow: hidden;

    @media (max-width: $mw-767) {
      max-height: 150px;
    }

    @media (max-width: $mw-575) {
      max-height: 97px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(rgba(249, 249, 249, 0), rgba(249, 249, 249, 1));
      opacity: 1;
    }

    &.open {
      overflow: auto;
      max-height: none;

      &::before {
        opacity: 0;
      }
    }
  }

  &__text {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $mw-575) {
      font-size: 14px;
      line-height: 20px;
    }

    &--last {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
  }

  &__btn {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $pumpkin;
    transition: all 0.2s ease;

    @media (max-width: $mw-575) {
      font-size: 14px;
      line-height: 20px;
    }

    &:hover {
      color: $cinnabar;
    }
  }
}
