//Миксины медиа-запросов
@mixin mw1199 {
  max-width: 1199px; /* CSS для ширины от 992px до 1199px */
}

@mixin mw991 {
  max-width: 991px;  /* CSS для ширины от 768px до 991px */
}

@mixin mw767 {
  max-width: 767px; /* CSS для ширины от 576px до 767px */
}

@mixin mw575 {
  max-width: 575px; /* CSS для ширины до 575px (включительно) */
}

//Переменные цвета
$gray: #191919;
$gallery: #f0f0f0;
$white: #fff;
$cinnabar: #e23535;
$pumpkin: #ff7010;
