//Переменные медиа-запросов
$mw-1199: 1199px; /* CSS для ширины от 992px до 1199px */
$mw-991: 991px;  /* CSS для ширины от 768px до 991px */
$mw-767: 767px; /* CSS для ширины от 576px до 767px */
$mw-575: 575px; /* CSS для ширины от 391 до 575px (включительно) */
$mw-390: 390px; /* CSS для ширины до 390px (включительно) */


//Переменные цвета
$gray: #191919;
$gallery: #f0f0f0;
$white: #fff;
$cinnabar: #e23535;
$pumpkin: #ff7010;
