<div class="card">
	<div class="card__wrapper">
		<div class="card__img">
			<img src="img/pizza/pizza-1.png" alt="Image Pizza">
		</div>
		<form class="card__form" action="">
			<h4 class="card__form-title">Пепперони по-деревенски</h4>

			<div class="card-form__item card-item">

				<label class="card-checkbox">
					<div class="card-checkbox__deleted">
						<svg>
							<use xlink:href="img/sprite.svg#deleted"></use>
						</svg>
					</div>
					<input class="card-checkbox__input" type="checkbox" checked>
					<div class="card-checkbox__fake">
						<div class="card-checkbox__fake-img">
							<svg>
								<use xlink:href="img/sprite.svg#chiese"></use>
							</svg>
						</div>
						<span class="card-checkbox__fake-name">Моцарелла</span>
					</div>
				</label>

				<label class="card-checkbox">
					<input class="card-checkbox__input" type="checkbox" checked>
					<div class="card-checkbox__fake">
						<div class="card-checkbox__fake-img">
							<svg>
								<use xlink:href="img/sprite.svg#cucumber"></use>
							</svg>
						</div>
						<span class="card-checkbox__fake-name">Огурцы маринованные</span>
					</div>
				</label>

				<label class="card-checkbox">
					<input class="card-checkbox__input" type="checkbox" checked>
					<div class="card-checkbox__fake">
						<div class="card-checkbox__fake-img">
							<svg>
								<use xlink:href="img/sprite.svg#pepperoni"></use>
							</svg>
						</div>
						<span class="card-checkbox__fake-name">Пепперони</span>
					</div>
				</label>

				<label class="card-checkbox">
					<input class="card-checkbox__input" type="checkbox" checked>
					<div class="card-checkbox__fake">
						<div class="card-checkbox__fake-img">
							<svg>
								<use xlink:href="img/sprite.svg#sauce-stroke"></use>
							</svg>
						</div>
						<span class="card-checkbox__fake-name">Томатный соус</span>
					</div>
				</label>

			</div>

		</form>
	</div>
</div>