<div class="filter">
  <div class="filter__wrapper">
    <div class="filter__top">
      <h4 class="filter__title">Фильтры</h4>
      <button class="btn-reset filter__btn-close"></button>
    </div>
    
    <form class="filter__form" action="">

      <div class="filter__form-item filter-item">
        <h6 class="filter-item__title">Общее</h6>

        <div class="filter-item__wrapper">
          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Хит</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Новинка</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">С Мясом</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Вегетарианская</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">С курицей</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Без лука</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">С грибами</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">С морепродуктами</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Барбекью</span>
          </label>
        </div>

      </div>

      <div class="filter__form-item filter-item">
        <h6 class="filter-item__title">Сыр</h6>

        <div class="filter-item__wrapper">
          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Реджанито</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Моцарелла</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Чеддер</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">С голубой плесенью</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Смесь итальянских сыров</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Мягкий молодой сыр</span>
          </label>
        </div>

      </div>

      <div class="filter__form-item filter-item">
        <h6 class="filter-item__title">Мясо</h6>

        <div class="filter-item__wrapper">
          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Пепперони</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Свинина</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Ветчина</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Бекон</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Говядина</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Чоризо</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Колбаски</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Куриная грудка</span>
          </label>

        </div>

      </div>

      <div class="filter__form-item filter-item">
        <h6 class="filter-item__title">Компонент</h6>

        <div class="filter-item__wrapper">
          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Креветка</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Ананасы</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Шампиньоны</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Лук</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Перец халапеньо</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Орегано</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Зеленый перец</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Томаты</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Чеснок</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Красный перец</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Оливки</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Маслины</span>
          </label>

          <label class="filter-checkbox">
            <input class="filter-checkbox__input" type="checkbox">
            <span class="filter-checkbox__fake">Смесь итальянских трав</span>
          </label>

        </div>

      </div>

      <div class="filter__form-btns">
        <button class="filter__form-btn filter__form-btn--stroke btn-reset btn" type="reset">Сбросить</button>
        <button class="filter__form-btn btn-reset btn" type="submit">Применить</button>
      </div>

    </form>
  </div>

</div>