<footer class="footer">
  <div class="container footer__container">
      <small class="footer__copyright">&copy;&nbsp;Copyright 2021&nbsp;&mdash; Куда Пицца</small>
    <div class="footer__column-left">
      <a class="footer__logo" href="#" >
        <img src="img/icons/logo.svg" alt="Logo Pizza">  
      </a>
    </div>
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-title footer-title">Куда пицца</li>
        <li class="footer__nav-item"><a class="footer__nav-link footer-link" href="#">О компании</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link footer-link" href="#">Пользовательское соглашение</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link footer-link" href="#">Условия гарантии</a></li>
      </ul>
      <ul class="footer__nav-list">
        <li class="footer__nav-title footer-title">Помощь</li>
        <li class="footer__nav-item"><a class="footer__nav-link footer-link" href="#">Ресторан</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link footer-link" href="#">Контакты</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link footer-link" href="#">Поддержка</a></li>
        <li class="footer__nav-item"><a class="footer__nav-link footer-link" href="#">Отследить заказ</a></li>
      </ul>     
    </nav>
    <div class="footer__column-right">
      <ul class="footer__contact">
        <li class="footer__contact-title footer-title">Контакты</li>
        <li class="footer__contact-item"><a class="footer__contact-link footer-link footer-link--tel" href="tel:+79262231011">+7 (926) 223-10-11</a></li>
        <li class="footer__contact-item"><a class="footer__contact-link footer-link footer-link--adress" href="#">Москва, ул. Юных Ленинцев, д.99</a></li>
        <li class="footer__contact-item footer__social">
          <a class="footer__social-link footer-link footer-link--facebok" href="#">Facebok</a>
          <a class="footer__social-link footer-link footer-link--insta" href="#">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</footer>