<form class="form-adress" action="#" method="post">
	<div class="container form-adress__container">
		<div class="form-adress__wrapper">
			<p class="form-adress__text">Проверить адрес доставки</p>
			<label class="form-adress__label">
				<div class="form-adress__input">
					<input type="text" placeholder="Адрес">
				</div>
				<button class="btn-reset btn form-adress__btn" type="submit">Проверить</button>
				<button class="btn-reset btn form-adress__btn-mobile" type="submit">
					<svg>
            <use xlink:href="img/sprite.svg#send"></use>
          </svg>    
				</button>
			</label>
		</div>
	</div>
</form>