<header class="header">
  <div class="header__row header__row--top">
    <div class="container header__container">
      <div class="header__row-column">

        <!-- Выбор города -->
        <div class="header__city">
          <span class="header__current-city">Москва</span>
          <ul class="header__city-list">
            <li class="header__city-item">Москва</li>
            <li class="header__city-item">Петербург</li>
            <li class="header__city-item">Ростов</li>
            <li class="header__city-item">Волоколамск</li>
          </ul>
        </div>
        <!-- Выбор города -->

        <a class="header__check-adress" href="#">Проверить адрес</a>
        <p class="header__delivery-time">Среднее время доставки*: <span>00:24:19</span></p>
      </div>
      <div class="header__row-column header__row-column--topright">
        <p class="header__time-work">Время работы: с 11:00 до 23:00</p>
        <button class="btn-reset header__btn-login">Войти в аккаунт</button>
      </div>
    </div>
  </div>
  <div class="header__row header__row--bottom">
    <div class="container header__container">
      <a class="logo header__logo">
        <img class="logo__img" src="img/icons/logo.svg" alt="Logo Pizza">
      </a>
      <button class=" btn btn-cart btn-reset">
        <img class="btn-cart__img" src="img/icons/cart.svg">
        <span class="btn-cart__value">0</span>₽
      </button>

      <!-- Бургер - меню -->

      <button class="burger btn-reset" type="button">
        <div class="burger__line burger__line--one"></div>
        <div class="burger__line burger__line--two"></div>
        <div class="burger__line burger__line--three"></div>
      </button>

      <div class="mobile-nav">
        <div class="mobile-nav__wrapper">
          <button class="btn-reset header__btn-login header__btn-login--mobile">Войти в аккаунт</button>
          <nav class="menu-mobile">
            <ul class="menu-mobile__list">
              <li class="menu-mobile__list-item"><a class="menu-mobile__list-link" href="#">Акции</a></li>
              <li class="menu-mobile__list-item"><a class="menu-mobile__list-link" href="#">О компании</a></li>
              <li class="menu-mobile__list-item"><a class="menu-mobile__list-link" href="#">Пользовательское
                  соглашение</a></li>
              <li class="menu-mobile__list-item"><a class="menu-mobile__list-link" href="#">Условия гарантии</a></li>
              <li class="menu-mobile__list-item"><a class="menu-mobile__list-link" href="#">Ресторан</a></li>
              <li class="menu-mobile__list-item"><a class="menu-mobile__list-link" href="#">Контакты</a></li>
              <li class="menu-mobile__list-item"><a class="menu-mobile__list-link" href="#">Поддержка</a></li>
              <li class="menu-mobile__list-item"><a class="menu-mobile__list-link" href="#">Отследить заказ</a></li>
            </ul>
          </nav>
          <ul class="contact-list contact-list--mobile">
            <li class="contact-list__item"><a class="contact-list__link contact-list__link--tel"
                href="tel:+79262231011">+7 (926) 223-10-11</a></li>
            <li class="contact-list__item"><a class="contact-list__link contact-list__link--adress" href="#">Москва, ул.
                Юных Ленинцев, д.99</a></li>
            <li class="contact-list__item social">
              <a class="contact-list__link social__link social__link--facebok" href="#">Facebok</a>
              <a class="contact-list__link social__link social__link--insta" href="#">Instagram</a>
            </li>
          </ul>
          <p class="header__time-work--mobile">Время работы: с 11:00 до 23:00</p>
        </div>
      </div>

      <!-- Бургер - меню -->

    </div>
  </div>
</header>