<header class="header">
  <div class="header__row header__row--top">
    <div class="container header__container">
      <div class="header__row-column">
        <a class="header__city-list" href="#">Москва</a>
        <a class="header__check-adress" href="#">Проверить адрес</a>
        <p class="header__delivery-time">Среднее время доставки*: <span>00:24:19</span></p>
      </div>
      <div class="header__row-column">
        <p class="header__time-work">Время работы: с 11:00 до 23:00</p>
        <button class="btn-reset header__btn-login">Войти в аккаунт</button>
      </div>
    </div>
  </div>
  <div class="header__row header__row--bottom">
    <div class="container header__container">
      <a class="logo header__logo">
        <img class="logo__img" src="img/icons/logo.svg" alt="Logo Pizza">        
      </a>
      <button class=" btn btn-cart btn-reset">
        <img class="btn-cart__img" src="img/icons/cart.svg">
        <span class="btn-cart__value">0</span>₽
      </button>
    </div>
  </div>
</header>