<div class="modals">
	<div class="modal-wrapper modal-login">
		<button class="modal-close btn-reset"></button>
		<form class="modal-login__form" action=" ">
			<div class="modal-login__form-title">Вход в аккаунт</div>
			<div class="modal-login__form-subtitle">Сможете быстро оформлять заказы,
				использовать бонусы</div>
			<label class="modal-login__form-label modal-login-label">
				<span class="modal-login-label__name">Номер телефона</span>
				<input class="modal-login-label__input" type="tel" placeholder="+7">
			</label>
			<button class="btn btn-reset modal-login__form-btn">Войти</button>
			<p class="modal-login__form-note">Продолжая, вы соглашаетесь со сбором и обработкой персональных данных и
				пользовательским соглашением</p>
		</form>
	</div>
</div>