<div class="navigation">
  <div class="container navigation__container">
    <ul class="navigation__list">
      <li class="navigation__item">
        <button class="btn-reset navigation__item-btn"> 
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#fire"></use>
          </svg>           
          <span class="navigation__item-text">Акции</span>
        </button>
      </li>
      <li class="navigation__item">
        <button class="btn-reset navigation__item-btn">          
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#pizza"></use>
          </svg>        
          <span class="navigation__item-text">Пицца</span>
        </button>
      </li>
      <li class="navigation__item">
        <button class="btn-reset navigation__item-btn">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#sushi"></use>
          </svg>        
          <span class="navigation__item-text">Суши</span>
        </button>
      </li>
      <li class="navigation__item">
        <button class="btn-reset navigation__item-btn">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#drink"></use>
          </svg>        
          <span class="navigation__item-text">Напитки</span>
        </button>
      </li>
      <li class="navigation__item">
        <button class="btn-reset navigation__item-btn">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#snacks"></use>
          </svg>        
          <span class="navigation__item-text">Закуски</span>
        </button>
      </li>
      <li class="navigation__item">
        <button class="btn-reset navigation__item-btn">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#combo"></use>
          </svg>        
          <span class="navigation__item-text">Комбо</span>
        </button>
      </li>
      <li class="navigation__item">
        <button class="btn-reset navigation__item-btn">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#dessert"></use>
          </svg>        
          <span class="navigation__item-text">Десерты</span>
        </button>
      </li>
      <li class="navigation__item">
        <button class="btn-reset navigation__item-btn">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#sauce"></use>
          </svg>        
          <span class="navigation__item-text">Соусы</span>
        </button>
      </li>
    </ul>
  </div>
</div>