<div class="navigation">
  <div class="container navigation__container">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a class="navigation__item-btn" href="#promotional"> 
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#fire"></use>
          </svg>           
          <span class="navigation__item-text">Акции</span>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__item-btn" href="#pizza">          
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#pizza"></use>
          </svg>        
          <span class="navigation__item-text">Пицца</span>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__item-btn" href="#sushi">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#sushi"></use>
          </svg>        
          <span class="navigation__item-text">Суши</span>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__item-btn" href="#drinks">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#drink"></use>
          </svg>        
          <span class="navigation__item-text">Напитки</span>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__item-btn" href="#snack">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#snacks"></use>
          </svg>        
          <span class="navigation__item-text">Закуски</span>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__item-btn" href="#combo">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#combo"></use>
          </svg>        
          <span class="navigation__item-text">Комбо</span>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__item-btn" href="#dessert">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#dessert"></use>
          </svg>        
          <span class="navigation__item-text">Десерты</span>
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__item-btn" href="#sauce">
          <svg class="navigation__item-img">
            <use xlink:href="img/sprite.svg#sauce"></use>
          </svg>        
          <span class="navigation__item-text">Соусы</span>
        </b>
      </li>
    </ul>
  </div>
</div>