<section class="order">
	<div class="container order__container">
		<form class="order__form" action="">
			<h1 class="order__title">Ваш заказ</h1>

			<!-- order__form-positions -->
			<div class="order__form-positions positions">

				<!-- positions__item -->
				<div class="positions__item order__item">
					<div class="positions__item-img">
						<img src="img/order-img.png" alt="">
					</div>
					<div class="positions__item-descr">
						<h3 class="positions__item-title">Пепперони по-деревенски</h3>
						<p class="positions__item-text">Традиционное тесто, 23 см</p>
					</div>
					<div class="positions__item-count positions-count">
						<button class="positions-count__btn btn-reset">-</button>
						<input class="positions-count__input" type="text" placeholder="1">
						<button class="positions-count__btn btn-reset">+</button>
					</div>
					<div class="positions__item-price">399 ₽</div>
				</div>
				<!-- positions__item -->

				<!-- positions__item -->
				<div class="positions__item order__item">
					<div class="positions__item-img">
						<img src="img/order-img.png" alt="">
					</div>
					<div class="positions__item-descr">
						<h3 class="positions__item-title">Пепперони по-деревенски</h3>
						<p class="positions__item-text">Традиционное тесто, 23 см</p>
					</div>
					<div class="positions__item-count positions-count">
						<button class="positions-count__btn btn-reset">-</button>
						<input class="positions-count__input" type="text" placeholder="1">
						<button class="positions-count__btn btn-reset">+</button>
					</div>
					<div class="positions__item-price">399 ₽</div>
				</div>
				<!-- positions__item -->

			</div>
			<!-- order__form-positions -->

			<!-- order__form-promocode -->
			<div class="order__form-total total order__item" action="">
				<div class="promocode">
					<input class="promocode__input" type="text">
					<button class="promocode__btn btn-reset btn">
						<svg>
							<use xlink:href="img/sprite.svg#send"></use>
						</svg>
					</button>
				</div>
				<div class="total__price">Итого: <span>2 379</span>  ₽</div>
			</div>
			<!-- order__form-promocode -->

		</form>
	</div>
</section>