<section class="order">
	<div class="container order__container">
		<form class="order__form" action="">
			<h1 class="order__title">Ваш заказ</h1>

			<!-- order__form-positions -->
			<div class="order__form-positions positions">

				<!-- positions__item -->
				<div class="positions__item order-item">
					<div class="positions__item-img">
						<img src="img/order-img.png" alt="">
					</div>
					<div class="positions__item-descr">
						<h3 class="positions__item-title">Пепперони по-деревенски</h3>
						<p class="positions__item-text">Традиционное тесто, 23 см</p>
					</div>
					<div class="positions__item-count positions-count">
						<button class="positions-count__btn btn-reset">-</button>
						<input class="positions-count__input" type="text" placeholder="1">
						<button class="positions-count__btn btn-reset">+</button>
					</div>
					<div class="positions__item-price">399 ₽</div>
				</div>
				<!-- positions__item -->

				<!-- positions__item -->
				<div class="positions__item order-item">
					<div class="positions__item-img">
						<img src="img/order-img.png" alt="">
					</div>
					<div class="positions__item-descr">
						<h3 class="positions__item-title">Пепперони по-деревенски</h3>
						<p class="positions__item-text">Традиционное тесто, 23 см</p>
					</div>
					<div class="positions__item-count positions-count">
						<button class="positions-count__btn btn-reset">-</button>
						<input class="positions-count__input" type="text" placeholder="1">
						<button class="positions-count__btn btn-reset">+</button>
					</div>
					<div class="positions__item-price">399 ₽</div>
				</div>
				<!-- positions__item -->

			</div>
			<!-- order__form-positions -->

			<!-- order__form-promocode -->
			<div class="order__form-total order-total order-item" action="">
				<div class="promocode">
					<input class="promocode__input" type="text" placeholder="Промокод">
					<button class="promocode__btn btn-reset btn">
						<svg>
							<use xlink:href="img/sprite.svg#send"></use>
						</svg>
					</button>
				</div>
				<div class="order-total__price">Итого: <span>2 379</span> ₽</div>
			</div>
			<!-- order__form-promocode -->

			<!-- order__form-add -->
			<div class="order__form-add order-add">

				<!-- order-add__item -->
				<div class="order-add__item">
					<h2 class="order-add__item-title">Добавить к заказу?</h2>

					<div class="order-add__item-wrapper">

						<!-- add-slide -->
						<div class="order-add__item-slide add-slide">
							<div class="add-slide__img">
								<img src="img/order-img.png" alt="">
							</div>
							<div class="add-slide__title">Картофель из печи</div>
							<div class="add-slide__descr">Порция 95 г</div>
							<button class="add-slide__btn btn btn-reset">179 ₽</button>
						</div>
						<!-- add-slide -->

						<!-- add-slide -->
						<div class="order-add__item-slide add-slide">
							<div class="add-slide__img">
								<img src="img/order-img.png" alt="">
							</div>
							<div class="add-slide__title">Картофель из печи</div>
							<div class="add-slide__descr">Порция 95 г</div>
							<button class="add-slide__btn btn btn-reset">179 ₽</button>
						</div>
						<!-- add-slide -->

						<!-- add-slide -->
						<div class="order-add__item-slide add-slide">
							<div class="add-slide__img">
								<img src="img/order-img.png" alt="">
							</div>
							<div class="add-slide__title">Картофель из печи</div>
							<div class="add-slide__descr">Порция 95 г</div>
							<button class="add-slide__btn btn btn-reset">179 ₽</button>
						</div>
						<!-- add-slide -->

						<!-- add-slide -->
						<div class="order-add__item-slide add-slide">
							<div class="add-slide__img">
								<img src="img/order-img.png" alt="">
							</div>
							<div class="add-slide__title">Картофель из печи</div>
							<div class="add-slide__descr">Порция 95 г</div>
							<button class="add-slide__btn btn btn-reset">179 ₽</button>
						</div>
						<!-- add-slide -->

					</div>
				</div>
				<!-- order-add__item -->

				<!-- order-add__item -->
				<div class="order-add__item">
					<h2 class="order-add__item-title">Добавить к заказу?</h2>

					<div class="order-add__item-wrapper">

						<!-- add-slide -->
						<div class="order-add__item-slide add-slide">
							<div class="add-slide__img">
								<img src="img/order-img.png" alt="">
							</div>
							<div class="add-slide__title">Картофель из печи</div>
							<div class="add-slide__descr">Порция 95 г</div>
							<button class="add-slide__btn btn btn-reset">179 ₽</button>
						</div>
						<!-- add-slide -->

						<!-- add-slide -->
						<div class="order-add__item-slide add-slide">
							<div class="add-slide__img">
								<img src="img/order-img.png" alt="">
							</div>
							<div class="add-slide__title">Картофель из печи</div>
							<div class="add-slide__descr">Порция 95 г</div>
							<button class="add-slide__btn btn btn-reset">179 ₽</button>
						</div>
						<!-- add-slide -->

						<!-- add-slide -->
						<div class="order-add__item-slide add-slide">
							<div class="add-slide__img">
								<img src="img/order-img.png" alt="">
							</div>
							<div class="add-slide__title">Картофель из печи</div>
							<div class="add-slide__descr">Порция 95 г</div>
							<button class="add-slide__btn btn btn-reset">179 ₽</button>
						</div>
						<!-- add-slide -->

						<!-- add-slide -->
						<div class="order-add__item-slide add-slide">
							<div class="add-slide__img">
								<img src="img/order-img.png" alt="">
							</div>
							<div class="add-slide__title">Картофель из печи</div>
							<div class="add-slide__descr">Порция 95 г</div>
							<button class="add-slide__btn btn btn-reset">179 ₽</button>
						</div>
						<!-- add-slide -->

					</div>
				</div>
				<!-- order-add__item -->

			</div>
			<!-- order__form-add -->

			<!-- order__form-client-info -->
			<div class="order__form-client-info client-info">
				<h4 class="client-info__title">О вас</h4>
				<div class="client-info__wrapper">
					<label for="" class="order-lable">
						<span class="order-lable__name">Имя*</span>
						<input class="order-lable__input" type="text" placeholder="Алексей">
					</label>
					<label for="" class="order-lable">
						<span class="order-lable__name">Номер телефона*</span>
						<input class="order-lable__input" type="tel" placeholder="+7">
					</label>
					<label for="" class="order-lable">
						<span class="order-lable__name">Почта*</span>
						<input class="order-lable__input" type="email" placeholder="mail@mail.com">
					</label>
				</div>
			</div>
			<!-- order__form-client-info -->

			<!-- order__form-delivery -->
			<div class="order__form-delivery delivery tabs">
				<div class="tabs__navigation">
					<h3 class="delivery__title">Доставка</h3>
					<ul class="tabs__navigation-items">
						<li class="tabs__navigation-item delivery__nav-item active" data-tabs-nav="1">Доставка</li>
						<li class="tabs__navigation-item delivery__nav-item" data-tabs-nav="2">Самовывоз</li>
					</ul>
				</div>
				<div class="tabs__content">
					<div class="tabs__content-item is-open" data-tabs-content="1">
						<div class="delivery__wrapper">
							<label for="" class="order-lable delivery__street">
								<span class="order-lable__name">Улица*</span>
								<input class="order-lable__input" type="text" placeholder="Пушкина">
							</label>
							<label for="" class="order-lable delivery__lable">
								<span class="order-lable__name">Дом*</span>
								<input class="order-lable__input" type="text" placeholder="1а">
							</label>
							<label for="" class="order-lable delivery__lable">
								<span class="order-lable__name">Подъезд</span>
								<input class="order-lable__input" type="text" placeholder="1">
							</label>
							<label for="" class="order-lable delivery__lable">
								<span class="order-lable__name">Этаж</span>
								<input class="order-lable__input" type="text" placeholder="2">
							</label>
							<label for="" class="order-lable delivery__lable">
								<span class="order-lable__name">Квартира</span>
								<input class="order-lable__input" type="text" placeholder="3">
							</label>
							<label for="" class="order-lable delivery__lable">
								<span class="order-lable__name">Домофон</span>
								<input class="order-lable__input" type="text" placeholder="0000">
							</label>
						</div>
					</div>
					<div class="tabs__content-item delivery__wrapper is-open" data-tabs-content="2">
					</div>
				</div>
			</div>
			<!-- order__form-delivery -->




		</form>
	</div>
</section>