<section class="promotion" id="promotional">
  <div class="container promotion__container">
    <ul class="promotion__list">
      <li class="promotion__list-item promotion-item">
        <a class="promotion-item__link" href="#" style="background-image: url('img/promotion1.png');">
          <p class="promotion-item__text">3&nbsp;средние пиццы от&nbsp;999 рублей</p>
        </a>
      </li>
      <li class="promotion__list-item promotion-item promotion-item--red">
        <a class="promotion-item__link promotion-item__link--center" href="#" style="background-image: url('img/promotion2.png');">
          <p class="promotion-item__text">Кэшбек&nbsp;10% на&nbsp;самовывоз (доставка)</p>
        </a>
      </li>
      <li class="promotion__list-item promotion-item">
        <a class="promotion-item__link" href="#" style="background-image: url('img/promotion1.png');">
          <p class="promotion-item__text">3&nbsp;средние пиццы от&nbsp;999 рублей</p>
        </a>
      </li>
      <li class="promotion__list-item promotion-item promotion-item--red">
        <a class="promotion-item__link promotion-item__link--center" href="#" style="background-image: url('img/promotion2.png');">
          <p class="promotion-item__text">Кэшбек&nbsp;10% на&nbsp;самовывоз (доставка)</p>
        </a>
      </li>
    </ul>
  </div>
</section>