<section class="dessert">
	<div class="container">
		<div class="dessert__top section-top">
			<h2 class="section-title">Десерты</h2>
			<button class="filter">Фильтры</button>
		</div>
		<div class="production-items">

			<div class="production-item new">			
				<div class="production-item__img">
					<img src="img/dessert/dessert-1.png" alt="Images Dessert">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Завитушки сахарные</h5>
					<p class="production-item__descr dessert-item__descr">Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соуc</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item hit">
				<div class="production-item__img">
					<img src="img/dessert/dessert-2.png" alt="Images Dessert">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Пирожок с вишней</h5>
					<p class="production-item__descr dessert-item__descr">Курица, Лук, Перец Халапеньо</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 549 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/dessert/dessert-3.png" alt="Images Dessert">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Сырники</h5>
					<p class="production-item__descr dessert-item__descr">Курица, Лук, Соус Карбонара</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 249 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/dessert/dessert-4.png" alt="Images Dessert">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Мороженное магнат</h5>
					<p class="production-item__descr dessert-item__descr">Бекон, Ветчина, Грибы, Курица, Лук, Маслины, Огурцы маринованные</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 630 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/dessert/dessert-4.png" alt="Images Dessert">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Мороженное магнат</h5>
					<p class="production-item__descr dessert-item__descr">Бекон, Ветчина, Грибы, Курица, Лук, Маслины, Огурцы маринованные</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 630 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/dessert/dessert-3.png" alt="Images Dessert">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Сырники</h5>
					<p class="production-item__descr dessert-item__descr">Курица, Лук, Соус Карбонара</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 249 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/dessert/dessert-1.png" alt="Images Dessert">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Завитушки сахарные</h5>
					<p class="production-item__descr dessert-item__descr">Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соуc</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/dessert/dessert-2.png" alt="Images Dessert">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Пирожок с вишней</h5>
					<p class="production-item__descr dessert-item__descr">Курица, Лук, Перец Халапеньо</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 549 ₽</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>