<section class="pizza">
	<div class="container pizza__container">
		<div class="pizza__top section-top">
			<h2 class="pizza__title section-title">Пицца</h2>
			<button class="pizza__filter filter">Фильтры</button>
		</div>
		<div class="pizza__items production-items">

			<div class="pizza__item production-item">
				<div class="production-item__img">
					<img src="img/pizza/pizza-1.png" alt="Images Pizza">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Чикен Сладкий Чили</h5>
					<p class="production-item__descr">Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соуc</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="pizza__item production-item">
				<div class="production-item__img">
					<img src="img/pizza/pizza-2.png" alt="Images Pizza">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">EASY PEASY огуречный расколбас</h5>
					<p class="production-item__descr">Курица, Лук, Перец Халапеньо</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="pizza__item production-item">
				<div class="production-item__img">
					<img src="img/pizza/pizza-3.png" alt="Images Pizza">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">EASY PEASY чикен а-ля хрен</h5>
					<p class="production-item__descr">Курица, Лук, Соус Карбонара</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="pizza__item production-item">
				<div class="production-item__img">
					<img src="img/pizza/pizza-4.png" alt="Images Pizza">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">4 сезона</h5>
					<p class="production-item__descr">Бекон, Ветчина, Грибы, Курица, Лук, Маслины, Огурцы маринованные</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="pizza__item production-item">
				<div class="production-item__img">
					<img src="img/pizza/pizza-4.png" alt="Images Pizza">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">4 сезона</h5>
					<p class="production-item__descr">Бекон, Ветчина, Грибы, Курица, Лук, Маслины, Огурцы маринованные</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="pizza__item production-item">
				<div class="production-item__img">
					<img src="img/pizza/pizza-3.png" alt="Images Pizza">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">EASY PEASY чикен а-ля хрен</h5>
					<p class="production-item__descr">Курица, Лук, Соус Карбонара</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="pizza__item production-item">
				<div class="production-item__img">
					<img src="img/pizza/pizza-1.png" alt="Images Pizza">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Чикен Сладкий Чили</h5>
					<p class="production-item__descr">Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соуc</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="pizza__item production-item">
				<div class="production-item__img">
					<img src="img/pizza/pizza-2.png" alt="Images Pizza">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">EASY PEASY огуречный расколбас</h5>
					<p class="production-item__descr">Курица, Лук, Перец Халапеньо</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>