<section class="snack">
	<div class="container">
		<div class="snack__top section-top">
			<h2 class="section-title">Закуски</h2>
			<button class="filter">Фильтры</button>
		</div>
		<div class="production-items">

			<div class="production-item new">			
				<div class="production-item__img">
					<img src="img/snack/snack-1.png" alt="Images Snack">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Картофель Фри</h5>
					<p class="production-item__descr snack-item__descr">Семга, рис, сыр креметто, соус унаги, креветка, авокадо, чипсы</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 475 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item hit">
				<div class="production-item__img">
					<img src="img/snack/snack-2.png" alt="Images Snack">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Куриные крылышки</h5>
					<p class="production-item__descr snack-item__descr">Сливочный сыр, семга татаки с тростниковым сахаром, соус унаги</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 395 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/snack/snack-3.png" alt="Images Snack">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Сырные шарики</h5>
					<p class="production-item__descr snack-item__descr">Действительно много семги, сливочный сыр, огурец, рис, нори</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 425 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/snack/snack-4.png" alt="Images Snack">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Шаурма с курицей</h5>
					<p class="production-item__descr snack-item__descr">Тигровая креветка, огурец, авокадо, соус Айоли, рис, икра</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 525 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/snack/snack-4.png" alt="Images Snack">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Шаурма с курицей</h5>
					<p class="production-item__descr snack-item__descr">Тигровая креветка, огурец, авокадо, соус Айоли, рис, икра</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 525 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/snack/snack-3.png" alt="Images Snack">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Сырные шарики</h5>
					<p class="production-item__descr snack-item__descr">Действительно много семги, сливочный сыр, огурец, рис, нори</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 425 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/snack/snack-1.png" alt="Images Snack">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Картофель Фри</h5>
					<p class="production-item__descr snack-item__descr">Семга, рис, сыр креметто, соус унаги, креветка, авокадо, чипсы</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 525 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/snack/snack-2.png" alt="Images Snack">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Куриные крылышки</h5>
					<p class="production-item__descr snack-item__descr">Семга, рис, сыр креметто, соус унаги, креветка, авокадо, чипсы</p>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 475 ₽</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>