<section class="sauce">
	<div class="container">
		<div class="sauce__top section-top">
			<h2 class="section-title">Соусы</h2>
			<button class="filter-btn btn-reset" type="button">
				<svg>
					<use xlink:href="img/sprite.svg#filter"></use>
				</svg> 
				Фильтры
			</button>
		</div>
		<div class="production-items">

			<div class="production-item new">			
				<div class="production-item__img">
					<img src="img/sauce/sauce-1.png" alt="Images Sauce">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Сырный соус</h5>					
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item hit">
				<div class="production-item__img">
					<img src="img/sauce/sauce-2.png" alt="Images Sauce">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Соус барбекю</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 549 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/sauce/sauce-3.png" alt="Images Sauce">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Сметанный соус</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 249 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/sauce/sauce-4.png" alt="Images Sauce">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Соус сацибели</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 630 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/sauce/sauce-4.png" alt="Images Sauce">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Соус сацибели</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 630 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/sauce/sauce-3.png" alt="Images Sauce">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Сметанный соус</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 249 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/sauce/sauce-1.png" alt="Images Sauce">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Сырный соус</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
          <img src="img/sauce/sauce-2.png" alt="Images Sauce">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Соус барбекю</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 549 ₽</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>