<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h2 class="faq__title">Доставка пиццы в Москве</h2>
      <div class="faq__text-wrapper">
        <p class="faq__text">
          Захотелось чего-то вкусного и сытного? Желание простое и понятное, только в холодильнике все не то, и до
          магазина идти лень. Все пропало? Нет. Недорого заказать пиццу в Москве очень просто! Вам на помощь спешит
          супергерой – Domino’s Pizza! Как у всякого супергероя, у Domino’s Pizza есть свои суперсилы: восхитительный
          вкус
          продукции из отборных ингредиентов; широкий ассортимент, включающий легендарные, фирменные и классические
          виды,
          для вегетарианцев и любителей экспериментировать; быстрая и бесплатная доставка пиццы в течение 30 минут,
          чтобы
          вкусное и ароматное блюдо не успевало остыть.
        </p>
        <h5 class="faq__subtitle">Как сделать заказ</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quae adipisci, fugiat cum minus, tempore in
          accusamus officia placeat, quidem itaque soluta ducimus? Sapiente numquam unde dolorem modi natus optio?
          Debitis, quam in? Assumenda nobis quibusdam velit, perferendis totam neque consequuntur libero. Earum quos,
          repellat repellendus aliquid, unde dolore consequatur aspernatur magnam ipsa eveniet numquam pariatur porro
          excepturi nobis praesentium!
          Placeat quas perferendis laudantium itaque, corrupti, accusamus incidunt harum et dolorum, sit deserunt
          quisquam aliquam molestias amet. Modi quod, odit cum necessitatibus, illo inventore ex fugiat eum neque
          repudiandae dicta!
          Ullam nisi delectus quia dolore labore soluta accusantium necessitatibus enim a quibusdam voluptates veritatis
          vitae ducimus similique, cupiditate voluptatum, debitis amet iure ad, reprehenderit quos doloremque
          distinctio! Quia, illo harum.
          Beatae, accusamus ab iusto nisi excepturi inventore placeat incidunt, nemo voluptatum dolorum saepe, ut
          tempora laudantium hic tempore vitae. Consectetur nisi quos a saepe doloribus eum sint aut, sit ducimus!
          Dignissimos molestias numquam beatae, reprehenderit deleniti incidunt consequatur architecto nemo, enim
          obcaecati veniam id nostrum accusamus. Voluptas molestias dolore odit cumque nisi, sed in officiis aperiam, et
          ab, ipsa repudiandae.
          Necessitatibus quidem adipisci natus officiis, consequuntur dolore ducimus dolor at, unde aspernatur corrupti!
          Nisi animi natus inventore, quod molestias sint quasi id illum numquam fuga placeat harum corrupti! Aliquid,
          neque.
          Porro dolor corporis veritatis quasi optio iusto sed itaque. Quasi amet tempora, recusandae nulla veniam
          veritatis rem voluptatibus debitis aperiam minus voluptates nemo officiis harum sapiente voluptatem accusamus
          consequatur aut.
          Culpa odio atque, praesentium reprehenderit adipisci expedita sint mollitia et vero accusamus ad, quo velit
          eligendi? Molestias, qui. Voluptatem neque aperiam saepe ipsum mollitia, quibusdam blanditiis? Iusto omnis
          voluptate doloremque?
          Repudiandae dolor est corporis tenetur quod et voluptatem mollitia ad expedita quibusdam placeat esse culpa
          dolorem, eligendi quas eaque amet, quisquam cumque pariatur sint, dolorum maxime odio! Quidem, in sed.
          Aliquid, rem. Facilis aperiam officiis itaque nemo eum excepturi nihil delectus sequi architecto dolor qui,
          rerum sunt minima molestiae sapiente, dignissimos perferendis molestias aut facere quam perspiciatis
          voluptatibus dicta. Est!
          Eos est modi laborum eveniet commodi dolorum dicta veritatis vitae ipsum repellendus tempora velit officiis ut
          impedit, consectetur illum at nulla dolor blanditiis. Omnis cumque blanditiis, minus nihil earum possimus.
          Aperiam placeat nisi blanditiis repellendus obcaecati explicabo natus eligendi praesentium voluptates nam.
          Ipsum voluptas temporibus suscipit assumenda exercitationem tenetur rerum, quisquam iste quae quis, aliquid,
          ipsam asperiores distinctio consectetur dolores!
          Maxime necessitatibus perspiciatis consequuntur. Atque repellat quisquam quam! Nemo, architecto? Vitae ea
          inventore numquam quas repudiandae deleniti. Qui vitae doloremque blanditiis rerum voluptas non aspernatur
          iste, minus reprehenderit officia quasi.
          Dolore non quod aperiam quaerat vel recusandae culpa sapiente! Ad velit tempore, numquam officia omnis ipsam,
          maiores unde vero distinctio fugiat cum necessitatibus natus aut excepturi voluptates impedit. Aliquam, quis.
          Dolorem qui cupiditate aspernatur dolor. Ducimus autem pariatur, quidem illo aliquam ipsam praesentium natus
          possimus eligendi provident corrupti beatae voluptatem consequuntur debitis libero atque. Voluptatem minus
          dicta magni explicabo fuga!
          Mollitia, voluptate vel cum minima voluptatibus quam eum nihil blanditiis culpa in vero officia eius, incidunt
          architecto rem quia dicta facere et ab nesciunt eligendi asperiores ipsam sint aperiam. Distinctio.
          Doloremque, odio excepturi? Possimus saepe aut magnam totam, inventore magni quia, voluptate id similique fuga
          officiis doloremque aperiam nisi dolor reprehenderit. Ea suscipit delectus ut non! Ab illo officiis fugit?
          Maxime eius adipisci ex. Molestias quidem impedit, perferendis porro repudiandae laboriosam excepturi, vitae
          tenetur quasi soluta nihil ut consequatur! Incidunt ad consequuntur magni sint blanditiis voluptas ea ullam
          commodi laudantium?
          Id officiis eveniet harum, vel ipsam dolorum quia nihil, vitae esse tenetur voluptas nam molestiae eaque
          quisquam corporis, sint iusto vero atque eos mollitia beatae temporibus pariatur? Error, sequi facilis?</p>
        <p class="faq__text faq__text--last">
          Доставка пиццы от Domino’s – это когда Вам не нужно никуда ехать или звонить, ведь есть Интернет. Никогда еще
          заказ пиццы на дом в Москве не был таким простым! Чтобы заказать пиццу онлайн, Вам необходимо: выбрать
          понравившийся вариант и количество порций; положить желаемое в «Корзину»; не уходить далеко, так как вкусная
          пицца на заказ с доставкой уже мчится к Вам из ближайшей пиццерии Domino’s. И не забудьте оплатить заказ
          курьеру!
        </p>
      </div>
      <button class="btn-reset faq__btn">Показать полностью</button>
    </div>
  </div>
</section>