<section class="drink">
	<div class="container">
		<div class="drink__top section-top">
			<h2 class="section-title">Напитки</h2>
			<button class="filter-btn btn-reset" type="button">
				<svg>
					<use xlink:href="img/sprite.svg#filter"></use>
				</svg> 
				Фильтры
			</button>
		</div>
		<div class="production-items">

			<div class="production-item new">			
				<div class="production-item__img">
					<img src="img/drink/drink-1.png" alt="Images Drink">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Adrenaline Game Fuel</h5>					
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item hit">
				<div class="production-item__img">
					<img src="img/drink/drink-2.png" alt="Images Drink">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Pepsi без сахара</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 549 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/drink/drink-3.png" alt="Images Drink">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Pepsi</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 249 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/drink/drink-4.png" alt="Images Drink">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Pepsi вишневый</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 630 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/drink/drink-4.png" alt="Images Drink">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Pepsi вишневый</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 630 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/drink/drink-3.png" alt="Images Drink">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Pepsi</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 249 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/drink/drink-1.png" alt="Images Drink">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Adrenaline Game Fuel</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 399 ₽</span>
					</div>
				</div>
			</div>

			<div class="production-item">
				<div class="production-item__img">
					<img src="img/drink/drink-2.png" alt="Images Drink">
				</div>
				<div class="production-item__wrapper">
					<h5 class="production-item__title">Pepsi без сахара</h5>
					<div class="production-item__bottom">
						<button class="btn-reset btn production-item__btn">Выбрать</button>
						<span class="production-item__price">от 549 ₽</span>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>