<section class="tabs">
	<div class="container tabs__container">
		<div class="tabs__navigation">
			<h1 class="tabs__title">Мой аккаунт</h1>
			<ul class="tabs__navigation-items">
				<li class="tabs__navigation-item active" data-tabs-nav="1">История заказов</li>
				<li class="tabs__navigation-item" data-tabs-nav="2">Настройки</li>
			</ul>
		</div>

		<div class="tabs__content">
			<div class="tabs__content-item order is-open" data-tabs-content="1">
				<div class="order__item content-item">
					<ul class="order__item-general general-info">
						<li class="general-info__status"></li>
						<li class="general-info__item">
							<div class="general-info__item-title">Заказ</div>
							<div class="general-info__item-count">№130312 <span>22.06.21</span></div>
						</li>
						<li class="general-info__item">
							<div class="general-info__item-title">Сумма заказа</div>
							<div class="general-info__item-count">399 ₽</div>
						</li>
						<li class="general-info__item">
							<div class="general-info__item-title">Статус</div>
							<div class="general-info__item-count">Обрабатывается</div>
						</li>
						<li class="general-info__item">
							<div class="general-info__item-title">Оплачено</div>
							<div class="general-info__item-count">Картой</div>
						</li>
						<li class="general-info__icon">
							<svg>
								<use xlink:href="img/sprite.svg#arrow-down"></use>
							</svg>
						</li>
					</ul>

					<div class="order__item-wrapper">

						<div class="order__item-contact">
							<div class="order__item-adress">ул. Львовская 48/2, офис 301, 2 этаж, домофон 4801#</div>
							<div class="order__item-preview">
								<img src="img/preview.png" alt="">
							</div>
						</div>

						<ul class="order__item-productions production-list">
							<li class="production-list__item">
								<div class="production-list__item-img"><img src="img/order-img.png" alt=""></div>
								<div class="production-list__item-title">Пепперони по-деревенски</div>
								<div class="production-list__item-descr">Традиционное тесто, 23 см</div>
								<div class="production-list__item-count">1 товар</div>
								<div class="production-list__item-price">399 ₽</div>
							</li>
							<li class="production-list__item">
								<div class="production-list__item-img"><img src="img/order-img.png" alt=""></div>
								<div class="production-list__item-title">Пепперони по-деревенски</div>
								<div class="production-list__item-descr">Традиционное тесто, 23 см</div>
								<div class="production-list__item-count">1 товар</div>
								<div class="production-list__item-price">399 ₽</div>
							</li>
							<li class="production-list__item">
								<div class="production-list__item-img"><img src="img/order-img.png" alt=""></div>
								<div class="production-list__item-title">Пепперони по-деревенски</div>
								<div class="production-list__item-descr">Традиционное тесто, 23 см</div>
								<div class="production-list__item-count">1 товар</div>
								<div class="production-list__item-price">399 ₽</div>
							</li>
						</ul>

						<div class="order__item-btn-wrapper">
							<button class="order__item-btn btn-reset">Повторить заказ</button>
						</div>

					</div>
				</div>

				<div class="order__item content-item">
					<ul class="order__item-general general-info">
						<li class="general-info__status"></li>
						<li class="general-info__item">
							<div class="general-info__item-title">Заказ</div>
							<div class="general-info__item-count">№130312 <span>22.06.21</span></div>
						</li>
						<li class="general-info__item">
							<div class="general-info__item-title">Сумма заказа</div>
							<div class="general-info__item-count">399 ₽</div>
						</li>
						<li class="general-info__item">
							<div class="general-info__item-title">Статус</div>
							<div class="general-info__item-count">Обрабатывается</div>
						</li>
						<li class="general-info__item">
							<div class="general-info__item-title">Оплачено</div>
							<div class="general-info__item-count">Картой</div>
						</li>
						<li class="general-info__icon">
							<svg>
								<use xlink:href="img/sprite.svg#arrow-down"></use>
							</svg>
						</li>
					</ul>

					<div class="order__item-wrapper">

						<div class="order__item-contact">
							<div class="order__item-adress">ул. Львовская 48/2, офис 301, 2 этаж, домофон 4801#</div>
							<div class="order__item-preview">
								<img src="img/preview.png" alt="">
							</div>
						</div>

						<ul class="order__item-productions production-list">
							<li class="production-list__item">
								<div class="production-list__item-img"><img src="img/order-img.png" alt=""></div>
								<div class="production-list__item-title">Пепперони по-деревенски</div>
								<div class="production-list__item-descr">Традиционное тесто, 23 см</div>
								<div class="production-list__item-count">1 товар</div>
								<div class="production-list__item-price">399 ₽</div>
							</li>
							<li class="production-list__item">
								<div class="production-list__item-img"><img src="img/order-img.png" alt=""></div>
								<div class="production-list__item-title">Пепперони по-деревенски</div>
								<div class="production-list__item-descr">Традиционное тесто, 23 см</div>
								<div class="production-list__item-count">1 товар</div>
								<div class="production-list__item-price">399 ₽</div>
							</li>
							<li class="production-list__item">
								<div class="production-list__item-img"><img src="img/order-img.png" alt=""></div>
								<div class="production-list__item-title">Пепперони по-деревенски</div>
								<div class="production-list__item-descr">Традиционное тесто, 23 см</div>
								<div class="production-list__item-count">1 товар</div>
								<div class="production-list__item-price">399 ₽</div>
							</li>
						</ul>

						<div class="order__item-btn-wrapper">
							<button class="order__item-btn btn-reset">Повторить заказ</button>
						</div>

					</div>
				</div>

				<div class="order__item content-item">
					<ul class="order__item-general general-info">
						<li class="general-info__status"></li>
						<li class="general-info__item">
							<div class="general-info__item-title">Заказ</div>
							<div class="general-info__item-count">№130312 <span>22.06.21</span></div>
						</li>
						<li class="general-info__item">
							<div class="general-info__item-title">Сумма заказа</div>
							<div class="general-info__item-count">399 ₽</div>
						</li>
						<li class="general-info__item">
							<div class="general-info__item-title">Статус</div>
							<div class="general-info__item-count">Обрабатывается</div>
						</li>
						<li class="general-info__item">
							<div class="general-info__item-title">Оплачено</div>
							<div class="general-info__item-count">Картой</div>
						</li>
						<li class="general-info__icon">
							<svg>
								<use xlink:href="img/sprite.svg#arrow-down"></use>
							</svg>
						</li>
					</ul>

					<div class="order__item-wrapper">

						<div class="order__item-contact">
							<div class="order__item-adress">ул. Львовская 48/2, офис 301, 2 этаж, домофон 4801#</div>
							<div class="order__item-preview">
								<img src="img/preview.png" alt="">
							</div>
						</div>

						<ul class="order__item-productions production-list">
							<li class="production-list__item">
								<div class="production-list__item-img"><img src="img/order-img.png" alt=""></div>
								<div class="production-list__item-title">Пепперони по-деревенски</div>
								<div class="production-list__item-descr">Традиционное тесто, 23 см</div>
								<div class="production-list__item-count">1 товар</div>
								<div class="production-list__item-price">399 ₽</div>
							</li>
							<li class="production-list__item">
								<div class="production-list__item-img"><img src="img/order-img.png" alt=""></div>
								<div class="production-list__item-title">Пепперони по-деревенски</div>
								<div class="production-list__item-descr">Традиционное тесто, 23 см</div>
								<div class="production-list__item-count">1 товар</div>
								<div class="production-list__item-price">399 ₽</div>
							</li>
							<li class="production-list__item">
								<div class="production-list__item-img"><img src="img/order-img.png" alt=""></div>
								<div class="production-list__item-title">Пепперони по-деревенски</div>
								<div class="production-list__item-descr">Традиционное тесто, 23 см</div>
								<div class="production-list__item-count">1 товар</div>
								<div class="production-list__item-price">399 ₽</div>
							</li>
						</ul>

						<div class="order__item-btn-wrapper">
							<button class="order__item-btn btn-reset">Повторить заказ</button>
						</div>

					</div>
				</div>

				<ul class="pagination">
					<li class="pagination__item">
						<svg>
							<use xlink:href="img/sprite.svg#arrow-down"></use>
						</svg>
					</li>
					<li class="pagination__item">1</li>
					<li class="pagination__item">2</li>
					<li class="pagination__item">105</li>
					<li class="pagination__item">
						<svg>
							<use xlink:href="img/sprite.svg#arrow-down"></use>
						</svg>
					</li>
				</ul>
			</div>


			<div class="tabs__content-item settings" data-tabs-content="2">
				<div class="settings__item content-item">

					<div class="settings__item-static">
						<div class="settings__item-top-row">
							<div class="settings__item-title">Личные данные</div>
							<button class="settings__item-btn btn-reset">
								<svg>
									<use xlink:href="img/sprite.svg#pencil"></use>
								</svg>
								Изменить
							</button>
						</div>
						<ul class="settings__item-data settings-datalist">
							<li class="settings-datalist__item">
								<div class="settings-datalist__item-title">Имя*</div>
								<div class="settings-datalist__item-count">Вадим</div>
							</li>
							<li class="settings-datalist__item">
								<div class="settings-datalist__item-title">Номер телефона*</div>
								<div class="settings-datalist__item-count">+7 (926) 223-10-11</div>
							</li>
							<li class="settings-datalist__item">
								<div class="settings-datalist__item-title">Почта</div>
								<div class="settings-datalist__item-count">mail@gmail.com</div>
							</li>
							<li class="settings-datalist__item">
								<div class="settings-datalist__item-title">Дата рождения</div>
								<div class="settings-datalist__item-count">13.02.1996</div>
							</li>
						</ul>
					</div>

					<div class="settings__item-change">
						<div class="settings__item-top-row">
							<div class="settings__item-title">Изменение личных данных</div>
						</div>
						<form class="settings__item-form settings-form" action="">
							<label class="settings-form__lable">
								<div class="settings-form__lable-title">Имя*</div>
								<input class="settings-form__input" type="text" placeholder="">
							</label>
							<label class="settings-form__lable">
								<div class="settings-form__lable-title">Номер телефона*</div>
								<input class="settings-form__input" type="tel" placeholder="">
							</label>
							<label class="settings-form__lable">
								<div class="settings-form__lable-title">Почта</div>
								<input class="settings-form__input" type="email" placeholder="">
							</label>
							<label class="settings-form__lable">
								<div class="settings-form__lable-title">Дата рождения</div>
								<input class="settings-form__input" type="text" placeholder="">
							</label>
							<div class="settings-form__btn">
								<button class="btn btn-reset">Сохранить изменения</button>
							</div>
							
						</form>

					</div>

				</div>

				<div class="settings__item content-item">

					<div class="settings__item-static">
						<div class="settings__item-top-row settings__item-top-row--nomargin">
							<div class="settings__item-title">Пароль</div>
							<button class="settings__item-btn btn-reset">
								<svg>
									<use xlink:href="img/sprite.svg#pencil"></use>
								</svg>
								Изменить
							</button>
						</div>
					</div>

					<div class="settings__item-change">
						<div class="settings__item-top-row">
							<div class="settings__item-title">Измененить пароль</div>
						</div>
						<form class="settings__item-form settings-form" action="">
							<label class="settings-form__lable">
								<div class="settings-form__lable-title">Старый пароль*</div>
								<input class="settings-form__input" type="text" placeholder="">
							</label>
							<label class="settings-form__lable">
								<div class="settings-form__lable-title">Новый пароль*</div>
								<input class="settings-form__input" type="text" placeholder="">
							</label>
							<label class="settings-form__lable">
								<div class="settings-form__lable-title">Подтвердите пароль</div>
								<input class="settings-form__input" type="text" placeholder="">
							</label>
						
							<div class="settings-form__btn">
								<button class="btn btn-reset">Сохранить изменения</button>
							</div>
							
						</form>

					</div>

				</div>

				<div class="settings__item content-item">
					<div class="settings__item-title">Подписки</div>

				<label class="settings__item-lable">
					<input type="checkbox" class="settings__item-checkbox">
					<div class="settings__item-fake">
						<svg>
							<use xlink:href="img/sprite.svg#check"></use>
						</svg>
					</div>
					Получать предложения и акции
				</label>

				

				</div>

			</div>

		</div>

	</div>
</section>