<header class="header">
  <h1 class="visually-hidden">"Куда Пицца - лучший ресторан</h1>
  <div class="header__row header__row--top">
    <div class="container header__container">
      <div class="header__row-columm">
        <button class="location header__location btn-reset" aria-label="Открыть меню выбора города">
          <svg class="location__icon">
            <use xlink:href="img/sprite.svg#location"></use>
          </svg>
          <span class="location__name">Москва</span>
          <svg class="location__arrow">
            <use xlink:href="img/sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <a class="check-adress header__check-adress" href="#">Проверить адрес</a>
        <div class="time-delivery">Среднее время доставки*: <span>00:24:19</span></div>
      </div>
      <div class="header__row-columm">
        <span class="time-work header__time-work">Время работы: с 11:00 до 23:00</span>
        <button class="login-btn btn-reset">
          <svg class="login-btn__icon">
            <use xlink:href="img/sprite.svg#user"></use>
          </svg>
          Войти в аккаунт
        </button>
      </div>
    </div>
  </div>
  <div class="header__row header__row--bottom">
    <div class="container header__container">
      <a class="logo" href="#">
        <img src="img/logo.svg" alt="Логотип 'Куда пицца'">
      </a>
      <button class="cart btn-reset btn-primary" aria-label="Открыть корзину">
        <svg class="cart__icon">
          <use xlink:href="img/sprite.svg#cart"></use>
        </svg>
        <span>0</span>₽
      </button>
    </div>
  </div>
</header>
