<div class="modals__filter filter" data-modal="filter">
  <button class="modals-close btn-reset filter__close"></button>
    <form class="filter__form" action="">
      <div class="filter__form-wrapper">
        <h2 class="filter__form-title">Фильтры</h2>
          <div class="filter__section">
            <div class="filter__section-title">Общее</div>
            <ul class="filter__section-items list-reset">
              <li class="filter__section-item">
                <label class="checkbox">
                  <input class="checkbox__input visually-hidden" type="checkbox">
                  <span class="checkbox__input-fake">Хит</span>
                </label>
              </li>
              <li class="filter__section-item">
                <label class="checkbox filter-checkbox">
                  <input class="checkbox__input filter-checkbox__input visually-hidden" type="checkbox">
                  <span class="checkbox__input-fake filter-checkbox__input-fake">Хитdfgdfgdfgdfgdfgdfg</span>
                </label>
              </li>
            </li>
            <li class="filter__section-item">
              <label class="checkbox">
                <input class="checkbox__input visually-hidden" type="checkbox">
                <span class="checkbox__input-fake">Хитdfgdfgdfgdfgdfgdfg</span>
              </label>
            </li>
            </ul>
          </div>
      </div>
    </form>
  </div>
