<div class="modals__product product" data-modal="product">
  <button class="modals-close btn-reset product__close"></button>
  <form class="product__form" action="" method="post">
    <div class="product__form-img">
      <picture>
        <source srcset="img/pizza.avif" type="image/avif">
        <source srcset="img/pizza.webp" type="image/webp">
        <img loading="lazy" src="img/pizza.png" class="image" alt="Изображение Пиццы">
      </picture>
    </div>
    <div class="product__form-options product-options">
      <h2 class="product-options__title">Пепперони по-деревенски</h2>
      <div class="product-options__remove">
        <label class="checkbox-stroke product-options__remove-item">
          <input class="checkbox-stroke__input visually-hidden" type="checkbox">
          <div class="checkbox-stroke__input-fake-wrapper">
            <span class="checkbox-stroke__input-fake-img">
              <svg>
                <use xlink:href="img/sprite.svg#chiese"></use>
              </svg>
            </span>
            <span class="checkbox-stroke__input-fake-name">Моцарелла</span>
          </div>
        </label>
        <label class="checkbox-stroke product-options__remove-item">
          <input class="checkbox-stroke__input visually-hidden" type="checkbox">
          <div class="checkbox-stroke__input-fake-wrapper">
            <span class="checkbox-stroke__input-fake-img">
              <svg>
                <use xlink:href="img/sprite.svg#cucumber"></use>
              </svg>
            </span>
            <span class="checkbox-stroke__input-fake-name">Огурцы маринованные</span>
          </div>
        </label>
        <label class="checkbox-stroke product-options__remove-item">
          <input class="checkbox-stroke__input visually-hidden" type="checkbox">
          <div class="checkbox-stroke__input-fake-wrapper">
            <span class="checkbox-stroke__input-fake-img">
              <svg>
                <use xlink:href="img/sprite.svg#pepperoni"></use>
              </svg>
            </span>
            <span class="checkbox-stroke__input-fake-name">Пепперони</span>
          </div>
        </label>
        <label class="checkbox-stroke product-options__remove-item">
          <input class="checkbox-stroke__input visually-hidden" type="checkbox">
          <div class="checkbox-stroke__input-fake-wrapper">
            <span class="checkbox-stroke__input-fake-img">
              <svg>
                <use xlink:href="img/sprite.svg#sauce-stroke"></use>
              </svg>
            </span>
            <span class="checkbox-stroke__input-fake-name">Томатный соус</span>
          </div>
        </label>
      </div>

      <div class="product-options__remove">
        <label class="checkbox-stroke product-options__remove-item">
          <input class="checkbox-stroke__input visually-hidden" type="checkbox">
          <div class="checkbox-stroke__input-fake-wrapper">
            <span class="checkbox-stroke__input-fake-img">
              <svg>
                <use xlink:href="img/sprite.svg#chiese"></use>
              </svg>
            </span>
            <span class="checkbox-stroke__input-fake-name">Моцарелла</span>
          </div>
        </label>
        <label class="checkbox-stroke product-options__remove-item">
          <input class="checkbox-stroke__input visually-hidden" type="checkbox">
          <div class="checkbox-stroke__input-fake-wrapper">
            <span class="checkbox-stroke__input-fake-img">
              <svg>
                <use xlink:href="img/sprite.svg#cucumber"></use>
              </svg>
            </span>
            <span class="checkbox-stroke__input-fake-name">Огурцы маринованные</span>
          </div>
        </label>
        <label class="checkbox-stroke product-options__remove-item">
          <input class="checkbox-stroke__input visually-hidden" type="checkbox">
          <div class="checkbox-stroke__input-fake-wrapper">
            <span class="checkbox-stroke__input-fake-img">
              <svg>
                <use xlink:href="img/sprite.svg#pepperoni"></use>
              </svg>
            </span>
            <span class="checkbox-stroke__input-fake-name">Пепперони</span>
          </div>
        </label>
        <label class="checkbox-stroke product-options__remove-item">
          <input class="checkbox-stroke__input visually-hidden" type="checkbox">
          <div class="checkbox-stroke__input-fake-wrapper">
            <span class="checkbox-stroke__input-fake-img">
              <svg>
                <use xlink:href="img/sprite.svg#sauce-stroke"></use>
              </svg>
            </span>
            <span class="checkbox-stroke__input-fake-name">Томатный соус</span>
          </div>
        </label>
      </div>
    </div>
  </form>
</div>
