<div class="modals__product product" data-modal="product">
  <button class="modals-close btn-reset product__close"></button>
  <form class="product__form" action="" method="post">
    <div class="product__form-img">
      <picture>
        <source srcset="img/pizza.avif" type="image/avif">
        <source srcset="img/pizza.webp" type="image/webp">
        <img loading="lazy" src="img/pizza.png" class="image" alt="Изображение Пиццы">
      </picture>
    </div>
    <div class="product__form-options product-options">
      <h2 class="product-options__title">Пепперони по-деревенски</h2>
      <div class="product-options__remove">
        <label class="checkbox">
          <input class="checkbox__input visually-hidden" type="checkbox">
          <span class="checkbox__input-fake">
            <svg class="checkbox__img">
              <use xlink:href="img/sprite.svg#chiese"></use>
            </svg>
          </span>
        </label>
      </div>
    </div>
  </form>
</div>
