<nav class="nav">
  <div class="container nav__container">
    <ul class="nav__list list-reset">
      <li class="nav__list-item">
        <a class="nav__link" href="#promo">
          <svg class="nav__link-icon">
            <use xlink:href="img/sprite.svg#fire"></use>
          </svg>
          <span class="nav__link-text">Акции</span>
        </a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" href="#">
          <svg class="nav__link-icon">
            <use xlink:href="img/sprite.svg#pizza"></use>
          </svg>
          <span class="nav__link-text">Пицца</span>
        </a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" href="#">
          <svg class="nav__link-icon">
            <use xlink:href="img/sprite.svg#sushi"></use>
          </svg>
          <span class="nav__link-text">Суши</span>
        </a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" href="#">
          <svg class="nav__link-icon">
            <use xlink:href="img/sprite.svg#drink"></use>
          </svg>
          <span class="nav__link-text">Напитки</span>
        </a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" href="#">
          <svg class="nav__link-icon">
            <use xlink:href="img/sprite.svg#snacks"></use>
          </svg>
          <span class="nav__link-text">Закуски</span>
        </a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" href="#">
          <svg class="nav__link-icon">
            <use xlink:href="img/sprite.svg#combo"></use>
          </svg>
          <span class="nav__link-text">Комбо</span>
        </a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" href="#">
          <svg class="nav__link-icon">
            <use xlink:href="img/sprite.svg#dessert"></use>
          </svg>
          <span class="nav__link-text">Десерты</span>
        </a>
      </li>
      <li class="nav__list-item">
        <a class="nav__link" href="#">
          <svg class="nav__link-icon">
            <use xlink:href="img/sprite.svg#sauce"></use>
          </svg>
          <span class="nav__link-text">Соусы</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
