<section class="pizza" id="pizza">
  <div class="container">
    <div class="pizza__top">
      <h2 class="pizza__title section-title">Пицца</h2>
      <button class="filter-btn btn-reset">
        <svg class="filter-btn__icon">
          <use xlink:href="img/sprite.svg#filter"></use>
        </svg>
        Фильтры
      </button>
    </div>
    <div class="pizza__content">
      <div class="cart-product pizza__cart-product">
        <div class="cart-product__img">
          <picture>
            <source srcset="img/pizza.avif" type="image/avif">
            <source srcset="img/pizza.webp" type="image/webp">
            <img loading="lazy" src="img/pizza.png" class="image" width="300" height="300" alt="Изображение пиццы">
          </picture>
        </div>
        <div class="cart-product__descr-wrapper">
          <h3 class="cart-product__title">Чикен Сладкий ЧилиЧикен Сладкий ЧилиЧикен Сладкий ЧилиЧикен Сладкий ЧилиЧикен Сладкий Чили</h3>
          <p class="cart-product__descr">Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соуc, огурцы, помидоры, лисья, корни.</p>
          <div class="cart-product__row-bottom">
            <button class="cart-product__btn btn-reset btn-primary">Выбрать</button>
            <span class="cart-product__price">от 399 ₽</span>
          </div>
        </div>
      </div>
      <div class="cart-product pizza__cart-product">
        <div class="cart-product__img">
          <picture>
            <source srcset="img/pizza.avif" type="image/avif">
            <source srcset="img/pizza.webp" type="image/webp">
            <img loading="lazy" src="img/pizza.png" class="image" width="300" height="300" alt="Изображение пиццы">
          </picture>
        </div>
        <div class="cart-product__descr-wrapper">
          <h3 class="cart-product__title">Чикен Сладкий Чили</h3>
          <p class="cart-product__descr">Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соуc, огурцы, помидоры, лисья, корни.</p>
          <div class="cart-product__row-bottom">
            <button class="cart-product__btn btn-reset btn-primary">Выбрать</button>
            <span class="cart-product__price">от 399 ₽</span>
          </div>
        </div>
      </div>
      <div class="cart-product pizza__cart-product">
        <div class="cart-product__img">
          <picture>
            <source srcset="img/pizza.avif" type="image/avif">
            <source srcset="img/pizza.webp" type="image/webp">
            <img loading="lazy" src="img/pizza.png" class="image" width="300" height="300" alt="Изображение пиццы">
          </picture>
        </div>
        <div class="cart-product__descr-wrapper">
          <h3 class="cart-product__title">Чикен Сладкий Чили</h3>
          <p class="cart-product__descr">Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соуc, огурцы, помидоры, лисья, корни.</p>
          <div class="cart-product__row-bottom">
            <button class="cart-product__btn btn-reset btn-primary">Выбрать</button>
            <span class="cart-product__price">от 399 ₽</span>
          </div>
        </div>
      </div>
      <div class="cart-product pizza__cart-product">
        <div class="cart-product__img">
          <picture>
            <source srcset="img/pizza.avif" type="image/avif">
            <source srcset="img/pizza.webp" type="image/webp">
            <img loading="lazy" src="img/pizza.png" class="image" width="300" height="300" alt="Изображение пиццы">
          </picture>
        </div>
        <div class="cart-product__descr-wrapper">
          <h3 class="cart-product__title">Чикен Сладкий Чили</h3>
          <p class="cart-product__descr">Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соуc, огурцы, помидоры, лисья, корни.</p>
          <div class="cart-product__row-bottom">
            <button class="cart-product__btn btn-reset btn-primary">Выбрать</button>
            <span class="cart-product__price">от 399 ₽</span>
          </div>
        </div>
      </div>
      <div class="cart-product pizza__cart-product">
        <div class="cart-product__img">
          <picture>
            <source srcset="img/pizza.avif" type="image/avif">
            <source srcset="img/pizza.webp" type="image/webp">
            <img loading="lazy" src="img/pizza.png" class="image" width="300" height="300" alt="Изображение пиццы">
          </picture>
        </div>
        <div class="cart-product__descr-wrapper">
          <h3 class="cart-product__title">Чикен Сладкий Чили</h3>
          <p class="cart-product__descr">Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соуc, огурцы, помидоры, лисья, корни.</p>
          <div class="cart-product__row-bottom">
            <button class="cart-product__btn btn-reset btn-primary">Выбрать</button>
            <span class="cart-product__price">от 399 ₽</span>
          </div>
        </div>
      </div>
      <div class="cart-product pizza__cart-product">
        <div class="cart-product__img">
          <picture>
            <source srcset="img/pizza.avif" type="image/avif">
            <source srcset="img/pizza.webp" type="image/webp">
            <img loading="lazy" src="img/pizza.png" class="image" width="300" height="300" alt="Изображение пиццы">
          </picture>
        </div>
        <div class="cart-product__descr-wrapper">
          <h3 class="cart-product__title">Чикен Сладкий Чили</h3>
          <p class="cart-product__descr">Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соуc, огурцы, помидоры, лисья, корни.</p>
          <div class="cart-product__row-bottom">
            <button class="cart-product__btn btn-reset btn-primary">Выбрать</button>
            <span class="cart-product__price">от 399 ₽</span>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
