<section class="promo" data-scroll-target="promo">
  <div class="container promo__container">
    <a class="promo__item promo-item promo-item--primary" href="#">
      <div class="promo-item__img">
        <picture>
          <source srcset="img/promo-img-1.avif" type="image/avif">
          <source srcset="img/promo-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/promo-img-1.png" class="image" alt="Изображение промо-акции">
        </picture>
      </div>
      <p class="promo-item__text">3 средние пиццы от 999 рублей</p>
    </a>
    <a class="promo__item promo-item promo-item--red" href="#">
      <div class="promo-item__img">
        <picture>
          <source srcset="img/promo-img-2.avif" type="image/avif">
          <source srcset="img/promo-img-2.webp" type="image/webp">
          <img loading="lazy" src="img/promo-img-2.png" class="image" alt="Изображение промо-акции">
        </picture>
      </div>
      <p class="promo-item__text">Кэшбек 10% на самовывоз (доставка)</p>
    </a>
    <a class="promo__item promo-item promo-item--primary" href="#">
      <div class="promo-item__img">
        <picture>
          <source srcset="img/promo-img-1.avif" type="image/avif">
          <source srcset="img/promo-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/promo-img-1.png" class="image" alt="Изображение промо-акции">
        </picture>
      </div>
      <p class="promo-item__text">3 средние пиццы от 999 рублей</p>
    </a>
    <a class="promo__item promo-item promo-item--red" href="#">
      <div class="promo-item__img">
        <picture>
          <source srcset="img/promo-img-2.avif" type="image/avif">
          <source srcset="img/promo-img-2.webp" type="image/webp">
          <img loading="lazy" src="img/promo-img-2.png" class="image" alt="Изображение промо-акции">
        </picture>
      </div>
      <p class="promo-item__text">Кэшбек 10% на самовывоз (доставка)</p>
    </a>
  </div>
</section>
