// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 1290px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --black-color: #191919;
  --primary-color: #ff7010;
  --gray-color: #f0f0f0;
  --bg-gray-color: #f9f9f9;
  --text-gray-color: #a5a5a5;
  --red-color: #e23535;
}
